@import '../css/fonts';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


.header-bg {
  background: url(../img/bg.jpg) no-repeat center center / cover;
  height: 790px;
}

.flexbkk {
  display: flex;
  justify-content: flex-end;
}

.widthbb {
  width: 100%;
  margin-right: 157px;
}

.home {
  margin-right: 53px;
}

.font-f {
  font-size: 20px;
}

.left-side {
  display: flex;
  align-items: center;
}

.left {
  margin-right: 85px;
}

.btn-a {
  padding: 22px 33px;
  background: #aa9b77;
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 481px;
}

.btn-a:hover {
  color: #ffffff;
  text-decoration: none;

}

.left-side {
  margin-top: 46px;
  height: 150px;
}

.text {
  text-align: center;
  margin-top: 244px;
  margin-right: 270px;
}

.text h1 {
  font-size: 50px;
}

.text p {
  width: 588px;
  margin-left: 134px;
}

.man {
  display: flex;
  align-items: center;
  margin-bottom: 97px;
}

.p-after {
  margin: 0 !important;
}

.man::after {
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #cccccc;
}


/* /////////////////////////////////////////////////////// woman /////////////////////////////////////////// */

.woman {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.p-before {
  margin: 0 !important;
}

.woman::before {
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #cccccc;
}

.woman {
  margin-top: 50px;
  margin-bottom: 50px;
}

.box1 {
  width: 308px;
  height: 366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  transition: 0.1s;
}

.box1:hover {
  border: 5px solid #aa9b77;
  border-radius: 2px;
}

.text-align-center {
  text-align: center;
}

.block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box1 p {
  align-self: flex-start;
  text-transform: uppercase;
}

.box p {
  align-self: flex-start;
  text-transform: uppercase;
}

.shirt {
  color: #aa9b77;
}

.box {
  width: 308px;
  height: 366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  transition: 0.1s;
}

.box:hover {
  border: 5px solid #aa9b77;
  border-radius: 5px;
}

.shirt {
  text-transform: uppercase;
}


.main-end {
  background: #aa9b77;
  height: 402px;
  margin-top: 152px;
}

.tac {
  text-align: center;
}

.tac h3 {
  padding-top: 71px;
  padding-bottom: 86px;
  color: #837659;
}

.main-end-p {
  width: 592px;
  margin: auto;
}

.blockcha {
  margin-left: 64px;
}

.center {
  display: flex;
  align-items: center;
}

.main-2 {
  background: #535253;
  padding: 24px 0;
}

.blockcha__img {
  margin-right: 20px;
}

.footer-bg {
  background: #424242;
  padding: 109px 64px 138px;
}

.footer-p {
  width: 308px;
  margin-top: 23px;
}

.delite {
  text-decoration: none;
  list-style: none;
}

.need {
  display: flex;
  justify-content: space-between;
}

.delite {
  display: flex;
}

.test {
  position: relative;
}

.text-light {
  margin: 0 5px;
}

.test::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 13px;
  background: #837659;
  right: -6px;
  bottom: 3px;
}

.marginbk{
  margin-left: 123px;
}