/**********Fonts style*********/
@font-face {
  font-family: "Exo2-Bold";
  src: url("../assets/fonts/Exo2-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-Regular";
  src: url("../assets/fonts/Exo2-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("../assets/fonts/LibreBaskerville-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Inter-Light";
  src: url("../assets/fonts/Exo2-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-Medium";
  src: url("../assets/fonts/Exo2-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-SemiBold";
  src: url("../assets/fonts/Exo2-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-Black";
  src: url("../assets/fonts/Exo2-Black.ttf") format("truetype"); }
.font-Exo2-Black {
  font-family: "Exo2-Black", sans-serif; }

.font-Exo2-Bold {
  font-family: "Exo2-Bold", sans-serif; }

.font-LibreBaskerville-Regular {
  font-family: "LibreBaskerville-Regular", sans-serif; }

.font-Exo2-Regular {
  font-family: "Exo2-Regular", sans-serif; }

.font-Exo2-Medium {
  font-family: "Exo2-Medium", sans-serif; }

.font-Exo2-SemiBold {
  font-family: "Exo2-SemiBold", sans-serif; }

/*****COLORS STYLE*******/
/*****ICON STYLE ****/
.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: #fff; }
  .icon.icon-search {
    mask-image: url("../assets/icons/search.svg");
    -webkit-mask-image: url("../assets/icons/search.svg"); }
  .icon.icon-border {
    mask-image: url("../assets/icons/Group 18.svg");
    -webkit-mask-image: url("../assets/icons/Group 18.svg"); }
  .icon.icon-bordern {
    mask-image: url("../assets/icons/Group 17.svg");
    -webkit-mask-image: url("../assets/icons/Group 17.svg"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100%;
  background: #fff; }
  body nav {
    padding-top: 20px; }
    body nav .navbar {
      padding: 8px; }
      @media (max-width: 1200px) {
        body nav .navbar {
          padding: 8px 0; } }
      body nav .navbar .left .collapse, body nav .navbar .left .collapsing {
        z-index: 100;
        position: absolute;
        padding: 25px;
        right: 15px;
        top: 55px;
        border: 2px dashed #0A7F2E;
        background-color: rgba(255, 255, 255, 0.9); }
      body nav .navbar .left .btn {
        padding: 0 !important; }
        body nav .navbar .left .btn img {
          width: 25px;
          height: 18px; }
          @media (max-width: 1200px) {
            body nav .navbar .left .btn img {
              width: 20px;
              height: 15px; } }
          @media (max-width: 996px) {
            body nav .navbar .left .btn img {
              width: 14px;
              height: 11px; } }
          @media (max-width: 767px) {
            body nav .navbar .left .btn img {
              width: 20px;
              height: 16px;
              margin-right: 50px;
              margin-left: 15px; } }
      body nav .navbar .left .navbar-brand {
        margin-left: 35px;
        margin-right: 30px; }
        @media (max-width: 1200px) {
          body nav .navbar .left .navbar-brand {
            margin-left: 22px;
            margin-right: 10px; } }
        @media (max-width: 996px) {
          body nav .navbar .left .navbar-brand {
            margin-left: 20px;
            margin-right: 15px; } }
        body nav .navbar .left .navbar-brand img {
          width: 190px; }
          @media (max-width: 1200px) {
            body nav .navbar .left .navbar-brand img {
              width: 160px; } }
          @media (max-width: 996px) {
            body nav .navbar .left .navbar-brand img {
              width: 135px; } }
          @media (max-width: 767px) {
            body nav .navbar .left .navbar-brand img {
              width: 175px; } }
      body nav .navbar .left .navbar-nav .buttonNav {
        position: relative;
        display: inline-block;
        padding: 7px;
        color: #000000;
        text-decoration: none;
        font-weight: 600;
        font-size: 13px;
        transition: 0.3s;
        margin-right: 10px; }
        body nav .navbar .left .navbar-nav .buttonNav:hover {
          border: 2px solid #0A7F2E;
          color: #0A7F2E; }
          body nav .navbar .left .navbar-nav .buttonNav:hover::before {
            content: '';
            position: absolute;
            top: 6px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% - 12px);
            background: #fff;
            transform: 0.5s else-in-out; }
          body nav .navbar .left .navbar-nav .buttonNav:hover::after {
            content: '';
            position: absolute;
            left: 6px;
            top: -2px;
            height: calc(100% + 4px);
            width: calc(100% - 12px);
            background: #fff;
            transform: 0.5s else-in-out; }
        body nav .navbar .left .navbar-nav .buttonNav span {
          position: relative;
          z-index: 3; }
      body nav .navbar .left .navbar-nav .play {
        transition: 0.2s; }
        body nav .navbar .left .navbar-nav .play:hover {
          transform: scale(1.3); }
      @media (max-width: 767px) {
        body nav .navbar .left .navbar-nav .search {
          background-color: #0A7F2E; } }
      body nav .navbar .left .navbar-nav .search .icon-search {
        width: 10px;
        height: 10px; }
      body nav .navbar .right .tel {
        color: #000;
        font-size: 13px; }
        @media (max-width: 1200px) {
          body nav .navbar .right .tel {
            font-size: 12px; } }
        @media (max-width: 996px) {
          body nav .navbar .right .tel {
            font-size: 10px; } }
        @media (max-width: 767px) {
          body nav .navbar .right .tel {
            color: black; } }
      body nav .navbar .right .search {
        margin-right: 27px;
        margin-left: 32px;
        background-color: #0A7F2E; }
        @media (max-width: 996px) {
          body nav .navbar .right .search {
            margin-right: 22px;
            margin-left: 27px; } }
        @media (max-width: 767px) {
          body nav .navbar .right .search {
            background-color: #0A7F2E; } }
        body nav .navbar .right .search .icon-search {
          width: 13px;
          height: 13px; }
      body nav .navbar .right .question {
        color: #0A7F2E;
        font-size: 13px;
        border: 1px solid #0A7F2E;
        padding: 7px 15px; }
        @media (max-width: 1200px) {
          body nav .navbar .right .question {
            font-size: 12px; } }
        @media (max-width: 996px) {
          body nav .navbar .right .question {
            font-size: 10px; } }
        @media (max-width: 767px) {
          body nav .navbar .right .question {
            color: #0A7F2E;
            border-color: #0A7F2E; } }
        body nav .navbar .right .question:hover {
          background-color: #0A7F2E;
          color: #fff; }
          @media (max-width: 767px) {
            body nav .navbar .right .question:hover {
              color: #fff;
              background-color: #0A7F2E; } }
  body main .nav {
    display: block; }
    @media (max-width: 576px) {
      body main .nav {
        transform: rotate(-90deg);
        height: 30px; } }
    body main .nav li {
      width: 8px;
      height: 8px;
      padding-top: 40px; }
      body main .nav li a {
        position: relative;
        z-index: 5;
        width: 8px;
        height: 8px;
        margin: 0;
        padding: 0;
        background-color: #C3C3C3;
        border-radius: 50%; }
      body main .nav li:nth-child(2) a::before, body main .nav li:nth-child(3) a::before, body main .nav li:nth-child(4) a::before, body main .nav li:nth-child(5) a::before, body main .nav li:nth-child(6) a::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 32px;
        left: 4px;
        z-index: 4;
        bottom: 8px;
        background-color: #C3C3C3; }
      body main .nav li:nth-child(1) a, body main .nav li:nth-child(2) a, body main .nav li:nth-child(3) a {
        background-color: #0A7F2E; }
        body main .nav li:nth-child(1) a::before, body main .nav li:nth-child(2) a::before, body main .nav li:nth-child(3) a::before {
          background-color: #0A7F2E; }
  body main #list2 {
    margin-bottom: 45px; }
    body main #list2 .servise {
      color: #0A7F2E; }
    body main #list2 .navbar-nav .nav-item {
      display: inline-block; }
      body main #list2 .navbar-nav .nav-item .nav-link {
        color: #B1B1B1; }
        body main #list2 .navbar-nav .nav-item .nav-link.active {
          color: #000; }
    body main #list2 .card {
      margin: 15px 0;
      border-radius: 0;
      border: 0;
      position: relative;
      box-shadow: 0 0 20px #d2dbdf; }
      body main #list2 .card .card-img {
        height: 100%;
        width: 100%; }
      body main #list2 .card .card-img-overlay {
        background-color: rgba(45, 128, 71, 0.7);
        color: #fff;
        width: 0;
        opacity: 0;
        height: 0;
        transition: all 0.5s 0.15s linear; }
        body main #list2 .card .card-img-overlay .arrow {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 20px; }
        body main #list2 .card .card-img-overlay p {
          font-size: 13px; }
      body main #list2 .card:hover .card-img-overlay {
        opacity: 1;
        height: 100%;
        width: 53%; }
    body main #list2 .home2 {
      position: absolute;
      bottom: 205px;
      color: #C3C3C3;
      left: -180px;
      font-size: 46px;
      margin: 0 !important;
      transform: rotate(-90deg); }
      @media (max-width: 1200px) {
        body main #list2 .home2 {
          font-size: 36px;
          left: -135px; } }
      @media (max-width: 996px) {
        body main #list2 .home2 {
          font-size: 30px;
          left: -110px; } }
      @media (max-width: 767px) {
        body main #list2 .home2 {
          font-size: 26px;
          left: -95px;
          bottom: 130px; } }
      @media (max-width: 576px) {
        body main #list2 .home2 {
          left: -80px;
          bottom: 136px; } }
      @media (max-width: 480px) {
        body main #list2 .home2 {
          left: -70px;
          font-size: 22px; } }
      @media (max-width: 400px) {
        body main #list2 .home2 {
          left: -65px;
          font-size: 22px; } }
      @media (max-width: 360px) {
        body main #list2 .home2 {
          left: -40px;
          font-size: 22px; } }
      body main #list2 .home2::before {
        content: "";
        position: absolute;
        width: 64px;
        z-index: 2;
        bottom: 28px;
        left: -69px;
        height: 1px;
        background-color: #C3C3C3; }
        @media (max-width: 1200px) {
          body main #list2 .home2::before {
            bottom: 25px;
            left: -72px; } }
        @media (max-width: 996px) {
          body main #list2 .home2::before {
            bottom: 20px; } }
        @media (max-width: 767px) {
          body main #list2 .home2::before {
            bottom: 16px;
            width: 48px;
            left: -50px; } }
        @media (max-width: 400px) {
          body main #list2 .home2::before {
            bottom: 15px; } }
    body main #list2 .all {
      text-decoration: none;
      color: #0A7F2E;
      padding: 8px 30px;
      font-size: 18px;
      border: 1px solid #0A7F2E; }
      body main #list2 .all:hover {
        background-color: #0A7F2E;
        color: #fff; }

/*# sourceMappingURL=main2.css.map */
