
/**********Fonts style*********/

@font-face{
    font-family:"Exo2-Bold"; 
    src: url("../assets/fonts/Exo2-Bold.ttf") format("truetype");
   }
   @font-face{
       font-family:"Exo2-Regular";
       src: url("../assets/fonts/Exo2-Regular.ttf") format("truetype");
   }
   @font-face{
    font-family:"LibreBaskerville-Regular";
    src: url("../assets/fonts/LibreBaskerville-Regular.ttf") format("truetype");
}
   @font-face{
    font-family:"Inter-Light"; 
    src: url("../assets/fonts/Exo2-Light.ttf") format("truetype");
   }
   @font-face{
    font-family:"Exo2-Medium"; 
    src: url("../assets/fonts/Exo2-Medium.ttf") format("truetype");
   }
   @font-face{
    font-family:"Exo2-SemiBold"; 
    src: url("../assets/fonts/Exo2-SemiBold.ttf") format("truetype");
   }
   @font-face{
    font-family:"Exo2-Black"; 
    src: url("../assets/fonts/Exo2-Black.ttf") format("truetype");
   }
   .font-Exo2-Black{
    font-family:"Exo2-Black", sans-serif;
}
   .font-Exo2-Bold{
       font-family:"Exo2-Bold", sans-serif;
   }
   .font-LibreBaskerville-Regular{
       font-family:"LibreBaskerville-Regular", sans-serif;
   }
   .font-Exo2-Regular{
    font-family:"Exo2-Regular", sans-serif;
}
   .font-Exo2-Medium{
       font-family:"Exo2-Medium", sans-serif;
   }
   .font-Exo2-SemiBold{
       font-family:"Exo2-SemiBold", sans-serif;
   }
   
   
 /*****COLORS STYLE*******/


 $color-green: #0A7F2E;


 /*****ICON STYLE ****/

.icon{
    width: 18px;
    height: 18px;
    display: inline-block;
   
    mask-repeat: no-repeat;
    mask-size: 100%;

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;

    background-color: #fff;

  
    &.icon-search{
        mask-image: url("../assets/icons/search.svg");
        -webkit-mask-image: url("../assets/icons/search.svg");
    }
    &.icon-border{
        mask-image: url("../assets/icons/Group\ 18.svg");
        -webkit-mask-image: url("../assets/icons/Group\ 18.svg");
    }
    &.icon-bordern{
        mask-image: url("../assets/icons/Group\ 17.svg");
        -webkit-mask-image: url("../assets/icons/Group\ 17.svg");
    }

}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background: linear-gradient(to right, #fff 54.1666666%, #0A7F2E 20%);
    @media (max-width: 767px) {
        background: linear-gradient(to bottom, #fff 47%, #0A7F2E 40%);
        height: 100%;
    }
    @media (max-width: 576px) {
        background: linear-gradient(to bottom, #fff 50%, #0A7F2E 48%);
        height: 100%;
    }
    @media (max-width: 400px) {
        background: linear-gradient(to bottom, #fff 52%, #0A7F2E 48%);
        height: 100%;
    }
   

    nav{
        padding-top: 20px;
        .navbar{
            padding: 8px;
            @media (max-width:1200px) {
                padding: 8px 0;
            }
            .left{
                .collapse, .collapsing{
                    z-index: 10;
                    position: absolute;
                    padding: 25px;
                    right: 15px;
                    top: 55px;
                    border: 2px dashed #0A7F2E;
                    background-color: rgba(255, 255, 255, 0.9);
                }
                .btn{
                    padding: 0 !important;
                    img{
                        width: 25px;
                        height: 18px;
                        @media (max-width:1200px) {
                            width: 20px;
                            height: 15px;
                        }
                        @media (max-width:996px) {
                            width: 14px;
                            height: 11px;
                        }
                        @media (max-width:767px) {
                            width: 20px;
                            height: 16px;
                            margin-right: 50px;
                            margin-left: 15px;
                        }
                    }
                }
                .navbar-brand{
                    margin-left: 35px;
                    margin-right: 30px;
                    @media (max-width:1200px) {
                        margin-left: 22px;
                        margin-right: 10px;
                    }
                    @media (max-width:996px) {
                        margin-left: 20px;
                        margin-right: 15px;
                    }
                   
                    img{
                        width: 190px;
                        @media (max-width:1200px) {
                            width: 160px;
                        }
                        @media (max-width:996px) {
                            width: 135px;
                        }
                        @media (max-width:767px) {
                            width: 175px;
                        }
                    }
                }
                .navbar-nav{
                    li{
                        align-items: center;
                        margin: 0 3px;
                        @media (max-width:996px) {
                            margin: 0;
                        }
                        
                        &:hover .icon-bordern, .icon-border{
                            background-color: #0A7F2E;
                        }
                        &:hover .icon-border{
                            background-color: #0A7F2E;
                        }
                        .icon-bordern, .icon-border{
                            width: 5px;
                            height: 26px;
                            background-color: #fff;
                        }
                    }
                    

                    a{  
                        padding: 2px !important;
                        margin-left: 1px;
                        margin-right: 1px;
                        font-size: 13px;                        
                        position: relative;                      
                        text-decoration: none;
                        color: #000;
                        @media (max-width:1200px) {
                            font-size: 12px;
                        }
                        @media (max-width:996px) {
                            font-size: 10px;
                            padding: 0 !important;
                            margin: 0;
                        }
                        .icon-play{
                            margin-left: 15px;
                            margin-top: 4px;
                            width: 13px;
                            height: 13px;
                            transition: all 0.5s linear;
                            &:hover{
                                background-color: $color-green !important;
                                transform: scale(1.2);
                            }
                        }
    
                        &:hover{
                           color: $color-green;
                        }
        
                    }


                    .search{
                        @media (max-width:767px) {
                            background-color: $color-green;
                        }
                           .icon-search{
                               width: 10px;
                               height: 10px;
                           }
                       }  
                }
                
            }
            .right{
                   .tel{
                       color: #fff;
                       font-size: 13px;
                        @media (max-width:1200px) {
                            font-size: 12px;
                        }    
                        @media (max-width:996px) {
                            font-size: 10px;
                        }
                        @media (max-width:767px) {
                            color: black;
                        } 
                   } 
                   .search{
                    margin-right: 27px;
                    margin-left: 32px;
                    @media (max-width:996px) {
                        margin-right: 22px;
                        margin-left: 27px;
                    } 
                    @media (max-width:767px) {
                        background-color: $color-green;
                    }
                       .icon-search{
                           width: 13px;
                           height: 13px;
                       }
                   }  
                   .question{
                       color: #fff;
                       font-size: 13px;
                       border: 1px solid #fff;
                       padding: 7px 15px;
                       @media (max-width:1200px) {
                        font-size: 12px;
                       }
                       @media (max-width:996px) {
                        font-size: 10px;
                       } 
                       @media (max-width:767px) {
                        color: $color-green;
                        border-color: $color-green;
                       }
                       
                       &:hover{
                           background-color: #fff;
                           color: $color-green;
                           @media (max-width:767px) {
                            color: #fff;
                            background-color: $color-green;
                           }
                       }
                   } 
    
            }
            
            // my style   start
            
            .buttonNav{
                position: relative;
                display: inline-block;
                padding: 7px;
                color: #000000;
                text-decoration: none;
                font-weight: 600;
                font-size: 13px;
                transition: 0.3s;
                margin-right: 10px;
                &:hover{
                  border: 2px solid #0A7F2E;
                  color: #0A7F2E;
                  &::before{
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: -2px;
                    width: calc(100% + 4px);
                    height: calc(100% - 12px);
                    background: #fff;
                    transform: 0.5s else-in-out;
                  }
                  &::after{
                    content: '';
                    position: absolute;
                    left: 6px;
                    top: -2px;
                    height: calc(100% + 4px);
                    width: calc(100% - 12px);
                    background: #fff;
                    transform: 0.5s else-in-out;
                  }
                }
                
                
                span{
                  position: relative;
                  z-index: 3;
                }
              }
              .play{
                transition: 0.2s;
                &:hover{
                  transform: scale(1.3);
                }
              }
            
            // my style   finish
            
            
        }
       
    }

    main{
        // *****  col-1  *******//
        
        .nav{
            display: block;
            @media (max-width:576px) {
                transform: rotate(-90deg);
                height: 30px;  
            }
            li{
                width: 8px;
                height: 8px;
                padding-top: 40px;
                a{  
                    position: relative;
                    z-index: 5;
                    width: 8px;
                    height: 8px;
                    margin: 0;
                    padding: 0;
                    background-color: #C3C3C3;
                    border-radius: 50%;
                   
                }
                &:nth-child(2), &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6){
                    a{
                        &::before{
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 32px;
                        left: 4px;
                        z-index: 4;
                        bottom: 8px;
                        background-color: #C3C3C3;
                        }

                    }  
                }
                &:nth-child(1) {
                    a{
                        background-color: $color-green;
                    }
                }
            }
            
        }

        // *****  col-11 *******//
        .information-content{
            h2{
                margin-top: 115px;
                margin-right: 130px;
                font-size: 34px;
                @media (max-width:1200px) {
                    margin-right: 100px;
                    font-size: 30px;
                    margin-top: 90px;
                    
                }
                @media (max-width:996px) {
                    font-size: 27px;
                    margin-right: 10px;
                }
                @media (max-width:767px) {
                    font-size: 24px;
                    margin-right: 10px;
                    margin-top: 45px;
                }
                @media (max-width:576px) {
                    font-size: 20px;
                    margin-right: 10px;
                    margin-top: 15px;
                }
            }
            p{
                margin-right: 115px;
                font-size: 15px;
                color: #8A8A8A;
                margin-top: 25px;
                @media (max-width:767px) {
                    font-size: 13px;
                }
            }
            .save{
                margin-top: 230px;
                padding-bottom: 30px;
                color: #C3C3C3;
                @media (max-width:767px) {
                    margin-top: 140px;
                    margin-left: 40px;
                }
                @media (max-width:576px) {
                    margin-top: 140px;
                    margin-left: 25px;
                }
                @media (max-width:340px) {
                    margin-left: 0;
                    margin-right: 100px;
                }
            }
            .deg{
                position: absolute;
                bottom: 95px;
                color: #C3C3C3;
                right: -10px;
                font-size: 12px;
                margin: 0 !important;
                transform: rotate(-90deg);
                @media (max-width:767px) {
                   bottom: 130px;
                }

                &::before{
                    content: "";
                    position: absolute;
                    width: 50px;
                    z-index: 2;
                    bottom: 7px;
                    right: 70px;
                    height: 1px;
                    background-color: #C3C3C3;
                }
            }
            .home{
                position: absolute;
                bottom: 205px;
                color: #C3C3C3;
                left: -195px;
                font-size: 46px;
                margin: 0 !important;
                transform: rotate(-90deg);
                @media (max-width:1200px) {
                    font-size: 36px;
                    left: -160px;
                }
                @media (max-width:996px) {
                    font-size: 30px;
                    left: -130px;
                }
                @media (max-width:767px) {
                    font-size: 20px;
                    left: -100px;
                    bottom: 110px;
                }
                @media (max-width:576px) {
                    left: -45px;
                    bottom: 136px;
                    z-index: -1;
                }
                @media (max-width:400px) {
                    left: -40px;
                    font-size: 16px;
                }

                &::before{
                    content: "";
                    position: absolute;
                    width: 64px;
                    z-index: 2;
                    bottom: 36px;
                    left: -69px;
                    height: 1px;
                    background-color: #C3C3C3;
                    @media (max-width:1200px) {
                        bottom: 30px;
                        left: -72px;
                    }
                    @media (max-width:996px) {
                        bottom: 24px;
                    }
                    @media (max-width:767px) {
                        bottom: 15px;
                        width: 45px;
                        left: -50px;
                    }
                    @media (max-width:400px) {
                        bottom: 12px;
                    }
                }
            }
            .input-group{
                width: 82%;
                margin-top: 50px;
                box-shadow: 0 0 20px rgb(226, 238, 234);
                @media (max-width:996px) {
                    width: 94%;
                }
                @media (max-width:500px) {
                    width: 96%;
                }
                input{
                    box-shadow: none;
                    border-radius: 0;
                    display: flex;
                    align-items: center;
                    height:50px;
                    color: #8A8A8A;
                    @media (max-width:500px) {
                        height: 40px;
                    }
                    @media (max-width:400px) {
                        font-size: 13px;
                    }
                }
                a{
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    background-color: $color-green;
                    color: #fff;
                    font-size: 12px;
                    box-shadow: none;
                    border-radius: 0;
                    height: 50px;
                    @media (max-width:500px) {
                        height: 40px;
                    }
                    @media (max-width:400px) {
                        font-size: 9px;
                    }
                }
            }
        }

        .carousel{
            margin-bottom: 80px;
            .carousel-indicators{
                bottom: -75px;
                li{
                    width: 12px;
                    height: 12px;
                    margin-right: 10px;
                    margin-left: 10px; 
                    @media (max-width:480px) {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
            .carousel-inner{
                h3{
                   color: #fff;
                   margin-top: 40px;
                   @media (max-width:480px) {
                       font-size: 22px;
                   }
                }
                .line{
                    margin: 5px 0;
                    height: 1px;
                    width: 240px;
                    background-color: #9DC7AA ;
                    @media (max-width:480px) {
                        width: 200px;
                    }
                }
                P{
                    color: #9DC7AA;
                    @media (max-width:480px) {
                        font-size: 12px;
                    }
                }
            }
        }

        // *** #

    }

}