body {
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: red;
  font-size: 50px;
}

.box a {
  width: 100px;
  background-color: #222222;
  border: 1px solid #222222;
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.5s;
  text-decoration: none;
  color: #ffffff;
}

.box a:hover {
  background: seashell;
  color: #222222;
}

.box {
  text-align: center;
  margin: 0 auto;
}

.box2 {
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box1 img {
  border-radius: 10px;
  border: 2px solid #222222;
}

.box3 {
  text-align: center;
  color: red;
  font-size: large;
}

.box4 h1 {
  text-align: center;
  color: red;
}

.box5 {
  text-align: center;
}

.pic {
  background: url(https://fsb.zobj.net/crop.php?r=N0li4Hzx2UocFtYrAAnLLBj5hpr7tCiT8X3nT3rW8nVdWstSPZdJaEpoD9tMQKH1yxfaNt-OqejT56HM05na01yDDKs7p6w6eSTVgjIQPT9ApdHd_ZR9ku2tqgC6JPa_NOT8lr0hebMDa34D) center center /cover;
}

.joy{
  margin-top: 100px;
}

