a{
    color: #000;
}
a:hover{
    color: #000;
    list-style: none;
    text-decoration: none;
}
.boxs{
    width: 150px;
    height: 50px;
}
.xl{
    background: #fff;
    margin-left: 100px;
}
.xll{
    background: #fff;
    margin-left: 15px;
    
}
.haa{
    border: none;
}
.dd
{
    background: #fff;
}
p {
     margin-top: 0 !important; 
     margin-bottom:0 !important;
}
.dd{
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;
}
.du{
    background: #fff;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.dub{
    background: #fff;
    border-radius: 50%;
    height: 200px;
    width: 200px; 
    margin-left:  px;
    margin-bottom: 70px;
}
.dum{
    background: #fff;
    border-radius: 50%;
    height: 170px;
    width: 170px; 
}
.dulas{
    background: #fff;
    border-radius: 50%;
    height: 200px;
    width: 200px; 
}
.dulast{
    background: #fff;
    border-radius: 50%;
    height: 190px;
    width: 190px; 
}
.zz{
    padding-bottom: 50px;
    padding-top: 200px;
}
.picc{
    padding-top: 100px;
}
/* .aya{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #fff;
} */