.searchup{
    padding-right: 166px;
    margin-right: 0 !important;
    border-radius: 0;
}
.btnn{
    border-radius: 0;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0 !important;
    padding-bottom: 10px;
    margin-right: 1rem;
    font-size: 0 !important;
    line-height: inherit;
    white-space: nowrap;
}
.iconnav{
    padding-top: 10px;
}
.header_shadow{
    border-bottom: 2px solid #999;
}
.ota{
    position: relative;
    width: 210px;
    height: 45px;
    padding-top: 5px;
    padding-left: 10px;
}
.bola{
    position: absolute;
    top: 43px;
    right: 561px;
}
.all{
    padding: 30px 20px;
}
.ss{
    width: 30px;
    height: 8px;
    background: rgb(233, 231, 231);
    border-radius: 3px;
}
.hard{
    border-radius: 5px;
    position: relative;
}
.oq{
    position: absolute;
    top: -16px;
    left: 25px;
    background: #fff;
    width: 100px;
    height: 30px;
}
.side{
    background: #F9F9FB;
    padding: 10px 0;
    border-radius: 5px;
}
.two{
    background: #fff;
    border: 1px solid gray;
    padding: 8px 15px;
    margin-right: 15px;
}
.rightgo{
    margin-right: 26px;
}
.yoq{
    margin-top: 0 !important;
    margin-bottom:0 !important;
    color: honeydew;
}
.icon_co{
    color: honeydew;
}
.dad{
    position: relative;
}
.child{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 90px;
    height: 30px;
    background: #000;
    border-radius: 50px;
    opacity: 0.3;
}
.h66{
    margin-bottom: 0 !important;
    padding-top: 18px;  
}
.pro{
    position: absolute;
    bottom: -21px;
    left: 17px;
    width: 65px;
    height: 38px;
    background: #000;
    border-radius: 50px;
    border: 5px solid #fff;
}
.final{
    margin-bottom: 0 !important;
}
.qss{
    margin-bottom: 0 !important;
}
.card{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.col-4{
    margin-bottom: 30px;
}
*{
    text-decoration: none;
    list-style: none;
}
a{
    color: gray;
    transition: 0.2s;
}
a:hover{
    color: blue;
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
}
ul{
    padding-left: 0 !important;
}
.oh{
    transition: 0.5s;
    text-align: center;
}
.kota:hover{
    font-size: 30px;
    color: crimson;
    cursor: not-allowed;
}
/* .//////////////////////////////////////////////////////// */

/* ///////////////////dark moude style//////// */
html[data-theme='dark']{
    --bg:#333333;
    --bg-panel:#434343;
    --color-headings:#3693ff;
    --color-text:#b5b5b5;
    
}

html{
    --bg-panel:#ebebeb;
    --color-headings:#0077ff;
    --color-text:#333333;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after{
    transition: all 750ms !important;
    transition-delay: 0 !important;
}



/* ]]]]]]]]]]]]]]]]]]]]]]]]]]]dark moude style[[[[[[[[[[[[[[[[[[ */

body{
    background-color: var(--bg);
}


.switchtoggle{
    display: flex;
   justify-content: space-around;
   padding: 1rem;
}

.switchtoggle {
    margin-top: 0;
    font-family:cursive;
    font-weight: 600;
    font-size: 1.7rem;
    color: #0077ff;
}


/* ///////////////////////////switch toggle style/////////////// */

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label{
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: gray;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after{
    content:'' ;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background:#0077ff;
}

input:checked + label:after{
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after{
    width: 130px;
}